body {
  background-color: rgb(245, 245, 245);
  font-family: "Italianno", cursive;
}

/*  -------------- Navbar Style ------------------- */

.header {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.navbar-ul {
  list-style-type: none;
}
.navbar-ul .nav-item {
  padding: 5px;
  margin-left: 5px;
}

.navbar-ul .nav-item a {
  color: rgb(31, 29, 29);
  font-size: 16px;
}
.navbar-ul .nav-item a:hover {
  color: rgb(228, 135, 173);
}
.navbar-ul {
  display: flex;
}
a {
  text-decoration-line: none;
}
.logo-container h3 {
  font-size: 32px;
  color: darkblue;
}
.logo-container {
  display: flex;
}

/*  -------------- Input Style ------------------- */

.input-container {
  display: flex;
  flex-direction: column;
}
.input {
  border: 1px solid lightgray;
  border-radius: 15px;
  width: 300px;
  background-color: transparent;
  outline: none;
  padding: 0.5rem 1rem;
  margin-top: 0.7rem;
}

/*  -------------- Login Style ------------------- */

.login-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-conatiner p {
  margin-bottom: 0.3rem;
  margin-top: 2.5rem;
  font-family: "Vesper Libre", serif;
}
.login-conatiner a {
  font-family: "Vesper Libre", serif;
  color: darkblue;
}
.submit-form {
  margin-top: 0.7rem;
  padding: 0.5rem 0.8rem;
  width: 100px;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: rgb(231, 162, 191);
  outline: none;
  cursor: pointer;
}
.submit-form:hover {
  background-color: rgb(228, 135, 173);
}

.input-error {
  align-self: flex-start;
  margin-left: 12px;
  color: red;
  font-size: 12px;
  font-family: auto;
  margin-top: 5px;
}

/*  -------------- Modal Style ------------------- */

.button-modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: rgb(231, 162, 191);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.button-modal:hover {
  background-color: rgb(228, 135, 173);
}
.open-modal {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-size: 38px;
  color: darkblue;
  outline: none;
}
.write-msg {
  position: absolute;
  width: 160px;
  right: 54px;
  bottom: 50px;
  background-color: lightgray;
  border-radius: 15px 15px 0px 15px;
  padding: 5px 5px;
  display: none;
  transition: all 0.5s ease-out;
}

.button-modal:hover .write-msg {
  display: block;
  transition: all 0.5s ease-out;
  font-size: 16px;
  font-family: "Vesper Libre", serif;
  color: darkblue;
}

.overlay {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.5s ease-out;
}

.modal {
  position: fixed;
  z-index: 20;
  background: #fff;
  max-width: 500px;
  width: 80%;
  border-radius: 15px;

  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.5s ease-out;
}

.modal-header {
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.modal-content {
  padding: 20px;
}

.modal-title {
  font-size: 24px;
  margin: 0;
  padding: 0.5rem;
}
.msg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-area {
  width: 80%;
  border-radius: 5px;
  height: 90px;
  padding: 1rem;
  border: 1px solid lightgrey;
  outline: none;
}

.close-button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: lightgray;
  position: absolute;
  font-size: 36px;
  outline: none;
  right: 10px;
  top: 0;
}

.close-button:hover {
  color: rgb(231, 162, 191);
}

/*  -------------- Message Style ------------------- */
.msgs-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message {
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 0px 7px 2px rgba(186, 184, 186, 1);
  margin-bottom: 10px;
}
.user-section {
  position: relative;
  display: flex;
  padding: 0.3rem;
  align-items: center;
  box-shadow: 0px 3px 2px -3px rgba(0, 0, 0, 0.75);
}
.user-section .close-button {
  position: absolute;
  right: 10px;
}
.user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user-name {
  margin: 0;
  margin-left: 8px;
  font-family: cursive;
  color: rgb(231, 162, 191);
}
.msg-body {
  display: flex;
  padding: 1rem;
}
.msg-body p {
  margin: 0;
  text-align: start;
  font-family: auto;
  color: #03034a;
}
.msg-footer {
  padding: 0rem 1rem;
  padding-bottom: 0.5rem;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.msg-footer span {
  font-size: 12px;
  color: gray;
  margin-right: 10px;
  cursor: pointer;
}
.msg-footer .reply-button {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(231, 162, 191);
  color: white;
}
.msg-footer .reply-button:hover {
  background-color: rgb(228, 135, 173);
}
.edit-button {
  background-color: transparent;
  border: none;
  outline: nonr;
  outline: none;
  color: lightgray;
  font-size: 18px;
  position: absolute;
  right: 44px;
}

/*  -------------- Reply Style ------------------- */
.reply-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.reply-form button {
  align-self: flex-end;
}
.reply-section {
  width: 90%;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1rem;
  font-family: auto;
  font-size: 16px;
  color: #03034a;
}
.cancle {
  background-color: transparent;
  border: none;
  outline: none;
  color: darkgray;
  cursor: pointer;
}

/*  -------------- Home Style ------------------- */

.marriage-details {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  padding: 2%;
  flex-wrap: wrap;
  margin: auto;
}
.groom-bride {
  padding: 10px;
  min-width: 220px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person-img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.save-the-date {
  padding: 10px;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
.title {
  color: rgb(231, 162, 191);
}
.day {
  width: 90%;
  background-color: lightseagreen;
  color: white;
  font-size: 30px;
  border-radius: 30px;
  border: 1px solid lightgrey;
  padding: 0.5rem 0;
}
.rsvp-button {
  width: 224px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid rgb(231, 162, 191);
  margin-top: 1rem;
  color: rgb(231, 162, 191);
  cursor: pointer;
  font-size: 47px;
  font-family: "Italianno", cursive;
  outline: none;
}
.rsvp-button:hover {
  background-color: rgb(228, 135, 173);
  color: #fff;
}
.address {
  color: gray;
  font-size: 25px;
  padding: 1rem;
  font-family: "Vesper Libre", serif;
}
.groom-bride p {
  margin: 0;
  color: lightseagreen;
  font-family: "Vesper Libre", serif;
}
